@font-face {
  font-family: 'Avenir';
  src: url('fonts/AvenirNextLTPro-Regular.otf');
}
* {
  font-family: 'Avenir';
  color: white;
}
body{
  margin: 0;
}
main{
  width: 100%;
  height: 78vh;
}
header{
  width: 100%;
  height: 15vh;
  background-color: #9B9B8C;
  position: relative;
}
#homeLink{
  text-decoration: none;
  font-size: 24px;
  margin-left: 2%;
  margin-top: 1%;
  position: absolute;
}
#headText{
  margin-top: 8%;
  font-size: 24px;
  margin-left: 5%;
  position: absolute;
}
main{
  margin: 0;
}
#topDiv {
  width: 100%;
  height: 39vh;
}
h3{
  color: black;
  margin: 0;
}
#bottomDiv{
  width: 100%;
  height: 39vh;
}
footer{
  width: 100%;
  height: 7vh;
  background-color: #9B9B8C;
  clear: both;
  position: relative;
}
#footerText{
  font-size: 24px;
  margin-left: 100px;
  margin-top: 12px;
  position: absolute;
}
